/* src/pages/ABCDigital/ABCDigital.css */
.ABCDigital-container {
  background-image: url('../public/images/ABCDigitalBackground.png');
  /* Substitua o caminho pelo seu background desejado */
  background-size: cover;
  background-position: center;
  color: white;
  /* Cor do texto para melhor legibilidade no fundo escuro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Adicione estilos adicionais conforme necessário */
.ABCDigitalRecursos-container {
  background-image: url('./img/bgMain.png');
  /* Substitua o caminho pelo seu background desejado */
  background-size: cover;
  background-position: center;
  color: white;
  /* Cor do texto para melhor legibilidade no fundo escuro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Alinha os itens no topo */
  min-height: 100vh;
  /* Garante que o contêiner ocupe pelo menos a altura da tela */
  height: 100vh;
}

/* Adicione este estilo para remover margens padrão do body */
body {
  margin: 0;
}

.search-bar {
  margin-top: 30px; /* Espaço entre os botões e a barra de pesquisa */
  width: 50%;
  display: flex;
  align-items: center;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 15px; /* Bordas arredondadas */
  outline: none;
  box-sizing: border-box;
}

.search-bar button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}