/* src/pages/Home.css */
body {
    margin: 0;
    overflow-x: hidden; /* Oculta a barra de rolagem horizontal */
}

.home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    height: 100vh; /* Alterado para height em vez de min-height */
    max-width: 100%;
    margin: 0 auto;
    overflow-y: auto;
    background-image: url('../public/images/backgroud.png');
    background-size: cover;
    padding: 20px;
    box-sizing: border-box;
    /* transition: background-position-x 0.3s ease; */
}

.home-icon {
    width: 300px; /* Largura fixa */
    height: 175px; /* Altura fixa */
    margin: 10px; /* Espaço entre os ícones */
    overflow: hidden;
    border-radius: 10px; /* Borda arredondada */
}

.home-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Mantém a proporção da imagem */
    transition: transform 0.3s ease; /* Efeito de transição no hover */
}

.home-icon:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    filter: brightness(150%);
    
}

/* Adicione um efeito parallax ao fundo */
.home-container:hover .home-content {
    transform: translateY(-50px); /* Ajuste conforme necessário para o efeito desejado */
}

/* Adicione um pseudo-elemento para criar uma camada sobre o fundo */
.home-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    /* Coloca a camada abaixo do conteúdo principal */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    /* Gradiente apenas na horizontal */
}
