/* src/pages/Home.css */
.home-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  background-image: url('../public/images/backgroud.png');
  background-size: cover;
  background-position: center;
  padding: 20px; /* Adiciona algum espaço ao redor dos ícones */
}

.home-icon {
  width: 300px; /* Largura fixa */
  height: 175px; /* Altura fixa */
  margin: 10px; /* Espaço entre os ícones */
  position: relative;
  overflow: hidden;
}

.home-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Mantém a proporção da imagem */
  transition: transform 0.3s ease; /* Efeito de transição no hover */
}

.home-icon:hover img {
  transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}